:root {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, img {
  display: block;
}

li {
  list-style: none;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
}

.title {
  color: white;
  text-align: center;
}
.title_h1 {
  line-height: 72px;
}

@media (max-width: 950px) {
  :root {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  :root {
    font-size: 16px;
  }
}
.hero {
  background: silver;
  background-image: linear-gradient(42deg, rgba(48, 50, 99, 0.67) 0%, rgb(48, 50, 99) 100%), url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 810px;
  padding: 75px 70px 0;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-content__title {
  margin-bottom: 25px;
}
.hero-content__descr {
  text-align: center;
  margin-bottom: 55px;
  color: white;
  line-height: 36px;
  max-width: 835px;
}

.achivments-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.achivment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 20px;
  width: 255px;
  height: 160px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: relative;
  margin-right: 60px;
}
.achivment:last-child {
  margin-right: 0;
}
.achivment::before, .achivment::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: calc((100% - 50px) / 2);
  top: 0;
}
.achivment::before {
  left: 0;
}
.achivment::after {
  right: 0;
}
.achivment__icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 28px;
}
.achivment__value {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 5px;
}
.achivment__descr {
  font-size: 0.75rem;
  text-align: center;
}

.header {
  background: white;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  padding: 20px 0;
  height: 100px;
}

.menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.menu-block__main {
  color: #f6ae48;
  margin-right: 30px;
}
.menu-block__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150px;
  height: 40px;
  background: #303263;
  color: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
}
.menu__item {
  margin-right: 40px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  color: black;
}
.menu .main {
  color: #f6ae48;
}

a {
  text-decoration: none;
}

.line {
  width: 100%;
  border: 2px solid #adadad;
}

@media (max-width: 950px) {
  :root {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 950px) {
  .achivment {
    width: 200px;
    margin-right: 30px;
  }
  .container {
    padding: 0 15px;
  }
  .hero-block {
    padding: 0;
  }
}
@media (max-width: 750px) {
  .achivment {
    margin: 30px;
  }
  .achivment:last-child {
    margin-right: 30px;
  }
  .hero-block {
    padding: 50px 0;
    height: initial;
  }
  .achivments-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 450px) {
  .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-content__title {
    line-height: 50px;
  }
  .hero-content__descr {
    line-height: 29px;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .achivment {
    margin: 15px;
    width: 180px;
    height: 100px;
  }
  .achivment:last-child {
    margin-right: 15px;
  }
  .achivment__icon {
    width: 25px;
  }
}
@media (max-width: 1280px) {
  .header-block {
    padding-right: 30px;
  }
}
@media (max-width: 900px) {
  .menu__item {
    margin-right: 25px;
  }
}
@media (max-width: 650px) {
  .menu {
    display: none;
  }
}
@media (max-width: 650px) {
  .menu-block {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.studio-block {
  height: 1120px;
  padding-bottom: 130px;
}

.studio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  height: 525px;
  padding-right: 80px;
}
.studio-content .title_h2 {
  color: black;
  font-size: 48px;
}
.studio-content__descr {
  max-width: 845px;
  position: relative;
  z-index: 10000;
  font-size: 20px;
}
.studio-content__we {
  position: absolute;
  font-size: 340px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 13%;
  color: #f4f4f4;
}

.studio-topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
}
.studio-topics .topic {
  max-width: 400px;
}
.studio-topics .topic__start .topic-icon {
  width: 30px;
  height: 60px;
  margin-bottom: 16px;
  margin-top: 15px;
}
.studio-topics .topic__move .topic-icon {
  width: 30px;
  height: 45px;
  margin-bottom: 32px;
  margin-top: 15px;
  margin-right: 10px;
}
.studio-topics .topic__support {
  background: #f6ae48;
  padding: 15px 20px;
  color: white;
}
.studio-topics .topic__support .topic-icon {
  width: 55px;
  height: 45px;
  margin-bottom: 30px;
}
.studio-topics .topic-name {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 20px;
}
.studio-topics .topic-descr {
  font-size: 14px;
  line-height: 20px;
}

.little {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  border: 2px solid #303263;
  width: 300px;
  height: 80px;
  padding: 20px;
  display: none;
}
.little .img {
  width: 55px;
  height: 45px;
}

.topic-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.topic-function__arrow {
  width: 22px;
  height: 23px;
}

.topic-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 130px;
  height: 35px;
  border: 2px solid white;
  background: none;
  color: white;
}

@media (max-width: 1370px) {
  .studio-content {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
    height: 350px;
  }
  .studio-content__we {
    font-size: 200px;
    margin-top: 100px;
    margin-left: 50px;
  }
}
@media (max-width: 1370px) {
  .title_h2 {
    margin-bottom: 50px;
  }
}
@media (max-width: 1300px) {
  .studio-topics {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 1300px) {
  .topic {
    margin-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .studio-content__we {
    display: none;
  }
  .studio-content__descr {
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .topic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
  }
  .topic-descr {
    line-height: 17px;
  }
}
@media (max-width: 420px) {
  .studio-content .title_h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .topic__support {
    height: 450px;
  }
}
@media (max-width: 420px) {
  .topic {
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */