:root {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, img {
  display: block;
}

li {
  list-style: none;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
}

.title {
  color: white;
  text-align: center;
}
.title_h1 {
  line-height: 72px;
}

@media (max-width: 950px) {
  :root {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  :root {
    font-size: 16px;
  }
}
.hero {
  background: silver;
  background-image: linear-gradient(42deg, rgba(48, 50, 99, 0.67) 0%, rgb(48, 50, 99) 100%), url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 810px;
  padding: 75px 70px 0;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-content__title {
  margin-bottom: 25px;
}
.hero-content__descr {
  text-align: center;
  margin-bottom: 55px;
  color: white;
  line-height: 36px;
  max-width: 835px;
}

.achivments-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.achivment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 20px;
  width: 255px;
  height: 160px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: relative;
  margin-right: 60px;
}
.achivment:last-child {
  margin-right: 0;
}
.achivment::before, .achivment::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: calc((100% - 50px) / 2);
  top: 0;
}
.achivment::before {
  left: 0;
}
.achivment::after {
  right: 0;
}
.achivment__icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 28px;
}
.achivment__value {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 5px;
}
.achivment__descr {
  font-size: 0.75rem;
  text-align: center;
}

.header {
  background: white;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  padding: 20px 0;
  height: 100px;
}

.menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.menu-block__main {
  color: #f6ae48;
  margin-right: 30px;
}
.menu-block__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150px;
  height: 40px;
  background: #303263;
  color: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
}
.menu__item {
  margin-right: 40px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  color: black;
}
.menu .main {
  color: #f6ae48;
}

a {
  text-decoration: none;
}

.line {
  width: 100%;
  border: 2px solid #adadad;
}

@media (max-width: 950px) {
  :root {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 950px) {
  .achivment {
    width: 200px;
    margin-right: 30px;
  }
  .container {
    padding: 0 15px;
  }
  .hero-block {
    padding: 0;
  }
}
@media (max-width: 750px) {
  .achivment {
    margin: 30px;
  }
  .achivment:last-child {
    margin-right: 30px;
  }
  .hero-block {
    padding: 50px 0;
    height: initial;
  }
  .achivments-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 450px) {
  .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-content__title {
    line-height: 50px;
  }
  .hero-content__descr {
    line-height: 29px;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .achivment {
    margin: 15px;
    width: 180px;
    height: 100px;
  }
  .achivment:last-child {
    margin-right: 15px;
  }
  .achivment__icon {
    width: 25px;
  }
}
@media (max-width: 1280px) {
  .header-block {
    padding-right: 30px;
  }
}
@media (max-width: 900px) {
  .menu__item {
    margin-right: 25px;
  }
}
@media (max-width: 650px) {
  .menu {
    display: none;
  }
}
@media (max-width: 650px) {
  .menu-block {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.studio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  padding: 130px 80px 130px 0;
}
.studio-content .title_h2 {
  color: black;
  font-size: 48px;
}
.studio-content__descr {
  max-width: 845px;
  position: relative;
  z-index: 10000;
  font-size: 20px;
}
.studio-content__we {
  position: absolute;
  font-size: 340px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 16%;
  color: #f4f4f4;
}

.studio-topics {
  max-width: 1245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 15px;
  padding-bottom: 250px;
  cursor: pointer;
}
.studio-topics .topic {
  margin-right: 30px;
  max-width: 400px;
  height: 350px;
  padding: 20px;
}
.studio-topics .topic_start__icon {
  margin-bottom: 6px;
}
.studio-topics .topic_start__name {
  margin-bottom: 20px;
}
.studio-topics .topic_move__icon {
  margin-bottom: 20px;
}
.studio-topics .topic_move__name {
  margin-bottom: 20px;
}
.studio-topics .topic_support {
  margin-right: 0;
}
.studio-topics .topic_support__icon {
  margin-bottom: 20px;
}
.studio-topics .topic_support__name {
  margin-bottom: 20px;
}

.topic:hover {
  background: #f6ae48;
  color: white;
}

.topic-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.topic-function__arrow {
  width: 22px;
  height: 23px;
}
.topic-function__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 130px;
  height: 35px;
  border: 2px solid white;
  background: none;
  color: white;
}

@media (max-width: 1300px) {
  .studio-block {
    padding: 20px 20px;
  }
}
@media (max-width: 1300px) {
  .studio-content .title_h2 {
    font-size: 42px;
    margin-right: 20px;
  }
  .studio-content__we {
    font-size: 250px;
  }
}
@media (max-width: 1150px) {
  .studio-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 80px 60px 0;
  }
  .studio-content .title_h2 {
    font-size: 38px;
    margin-right: 20px;
    margin-bottom: 50px;
  }
  .studio-content__we {
    font-size: 200px;
    margin-top: 3%;
    margin-left: 0%;
  }
}
@media (max-width: 1300px) {
  .studio-topics {
    padding-bottom: 130px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1150px) {
  .studio-content {
    padding: 25px 0px 60px 0;
  }
  .studio-content__we {
    font-size: 170px;
    margin-top: 5%;
    margin-left: 0%;
  }
}
@media (max-width: 800px) {
  .studio-content .title_h2 {
    font-size: 32px;
  }
  .studio-content__we {
    font-size: 150px;
    margin-top: 9%;
  }
}
@media (max-width: 800px) {
  .studio-topics {
    padding-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .studio-content .title_h2 {
    font-size: 25px;
  }
  .studio-content__we {
    font-size: 130px;
    margin-top: 25%;
  }
}
@media (max-width: 400px) {
  .studio-content {
    padding: 0px 0px 25px 0;
  }
  .studio-content__we {
    margin-top: 45%;
  }
  .studio-content .title_h2 {
    margin-bottom: 21px;
  }
}
@media (max-width: 1150px) {
  .studio-topics .topic {
    height: initial;
  }
  .studio-topics .topic_start {
    margin-right: 0;
  }
  .studio-topics .topic_move {
    margin-right: 0;
  }
}
@media (max-width: 400px) {
  .studio-content__descr {
    letter-spacing: 1;
  }
}
.credo {
  background-image: linear-gradient(42deg, rgba(48, 50, 99, 0.67) 0%, rgb(48, 50, 99) 100%), url(../img/kredo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.credo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 75px 70px 0;
  height: 565px;
}
.credo-block .credo-content__title {
  margin-bottom: 25px;
}
.credo-block .credo-content__descr {
  text-align: center;
  margin-bottom: 55px;
  color: white;
  line-height: 36px;
  max-width: 1045px;
}

.settings {
  width: 666px;
  height: 527px;
  background-image: url(../img/settings.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: absolute;
  margin-top: -35%;
}
.settings .title_h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 60px;
}

.services {
  position: relative;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 210px 55px 90px;
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}
.services-block .service-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 363px;
  height: 315px;
  z-index: 2000;
  padding: 75px 40px 35px 35px;
  margin-right: 20px;
}
.services-block .landing-block {
  background-image: linear-gradient(42deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/landing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.services-block .landing-block__line {
  margin-bottom: 40px;
  width: 266px;
}
.services-block .landing-block__name {
  padding-bottom: 20px;
}
.services-block .landing-block .service-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.services-block .landing-block .service-actions__button {
  width: 200px;
  height: 55px;
  border: 2px solid #00b9e7;
  background: none;
  color: white;
  font-size: 24px;
  margin-right: 35px;
}
.services-block .landing-block .service-actions__arrow {
  width: 33px;
  height: 33px;
}
.services-block .veb-block {
  background-image: linear-gradient(42deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/veb.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.services-block .veb-block__line {
  margin-top: 15px;
  width: 266px;
}
.services-block .veb-block__name {
  padding-bottom: 60px;
}
.services-block .veb-block .service-actions {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.services-block .veb-block .service-actions__button {
  width: 200px;
  height: 55px;
  border: 2px solid #ffcb00;
  background: none;
  color: white;
  font-size: 24px;
  margin-right: 33px;
}
.services-block .veb-block .service-actions__arrow {
  width: 33px;
  height: 33px;
}
.services-block .shop-block {
  background-image: linear-gradient(42deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/shop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-right: 0;
}
.services-block .shop-block__line {
  margin-top: 15px;
  width: 266px;
}
.services-block .shop-block__name {
  padding-bottom: 60px;
}
.services-block .shop-block .service-actions {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.services-block .shop-block .service-actions__button {
  width: 200px;
  height: 55px;
  border: 2px solid #66bf0d;
  background: none;
  color: white;
  font-size: 24px;
  margin-right: 33px;
}
.services-block .shop-block .service-actions__arrow {
  width: 33px;
  height: 33px;
}

@media (max-width: 730px) {
  .credo-block {
    padding: 26px 70px 0;
  }
}
@media (max-width: 730px) {
  .credo-content .title_h1 {
    line-height: 55px;
  }
}
@media (max-width: 550px) {
  .credo-block {
    height: initial;
  }
}
@media (max-width: 500px) {
  .credo-content .title_h1 {
    line-height: 50px;
  }
  .credo-content .credo-content__descr {
    line-height: 25px;
  }
}
@media (max-width: 1700px) {
  .settings {
    bottom: 125px;
  }
  .settings .title_h1 {
    margin-top: 80px;
  }
}
@media (max-width: 1250px) {
  .services-block {
    margin: 0 30px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .services-block .veb-block {
    margin-right: 0;
  }
  .services-block .shop-block {
    margin-top: 20px;
  }
}
@media (max-width: 1250px) {
  .settings {
    bottom: 48%;
  }
}
@media (max-width: 945px) {
  .services-block {
    padding: 160px 55px 90px;
  }
}
@media (max-width: 945px) {
  .settings {
    bottom: 24%;
  }
  .settings .title_h1 {
    margin-top: 50px;
  }
}
@media (max-width: 945px) {
  .services-block .landing-block {
    margin-bottom: 20px;
  }
  .services-block .veb-block {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .services-block .shop-block {
    margin-top: 0px;
    margin-right: 20px;
  }
}
@media (max-width: 945px) {
  .settings {
    bottom: 59%;
  }
}
@media (max-width: 945px) {
  .services-block {
    padding: 120px 55px 90px;
  }
}
@media (max-width: 680px) {
  .settings {
    width: initial;
  }
  .settings .title_h1 {
    font-size: 30px;
    margin: 50px;
  }
}
@media (max-width: 680px) {
  .services-block {
    padding: 120px 55px 90px;
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .services-block {
    padding: 120px 55px 90px;
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .services-block .landing-block__line {
    width: 180px;
  }
  .services-block .landing-block .service-actions__button {
    font-size: 16px;
    width: 130px;
  }
  .services-block .veb-block__line {
    width: 180px;
  }
  .services-block .veb-block .service-actions__button {
    font-size: 16px;
    width: 130px;
  }
  .services-block .shop-block__line {
    width: 180px;
  }
  .services-block .shop-block .service-actions__button {
    font-size: 16px;
    width: 130px;
  }
}
@media (max-width: 450px) {
  .services-block {
    margin-left: 50px;
    font-size: 26px;
  }
}/*# sourceMappingURL=style.css.map */