// MEDIA
$bp1: 950px;
$bp2: 750px;
$bp3: 450px;
$headerBP1: 1280px;
$headerBP2: 900px;
$headerBP3: 650px;

$studioBP1: 1300px;
$studioBP2: 1150px;
$studioBP3: 800px;
$studioBP4: 500px;
$studioBP5: 400px;

$credoBP1: 730px;
$credoBP2: 550px;
$credoBP3: 500px;

$servicesBP1: 1700px;
$servicesBP2: 1250px;
$servicesBP3: 945px;
$servicesBP4: 680px;
$servicesBP5: 450px;

$partnersBP1: 1100px;
$partnersBP2: 900px;
$partnersBP3: 670px;
$partnersBP4: 640px;
$partnersBP5: 490px;
$partnersBP6: 415px;
$partnersBP7: 345px;

$projectsBP1: 1700px;
$projectsBP2: 1300px;
$projectsBP3: 1050px;
$projectsBP4: 900px;
$projectsBP5: 800px;
$projectsBP6: 600px;
$projectsBP7: 520px;
$projectsBP8: 430px;
$projectsBP9: 370px;

$adaptateBP1: 1530px;
$adaptateBP2: 1350px;
$adaptateBP3: 950px;
$adaptateBP4: 800px;
$adaptateBP5: 720px;
$adaptateBP6: 650px;
$adaptateBP7: 555px;
$adaptateBP8: 500px;
$adaptateBP9: 420px;
$adaptateBP10: 360px;