// MEDIA
$bp1: 950px;
$bp2: 750px;
$bp3: 450px;
$headerBP1: 1280px;
$headerBP2: 900px;
$headerBP3: 650px;
$studioBP1: 1370px;
$studioBP2: 900px;
$studioBP3: 500px;
$studioBP4: 400px;
$studioBP5: 370px;


