// MEDIA
$bp1: 950px;
$bp2: 750px;
$bp3: 450px;
$headerBP1: 1280px;
$headerBP2: 900px;
$headerBP3: 650px;

$studioBP1: 1300px;
$studioBP2: 1150px;
$studioBP3: 800px;
$studioBP4: 500px;
$studioBP5: 400px;

$credoBP1: 730px;
$credoBP2: 550px;
$credoBP3: 500px;

$servicesBP1: 1700px;
$servicesBP2: 1250px;
$servicesBP3: 945px;
$servicesBP4: 680px;
$servicesBP5: 450px;