@media (max-width:$footerBP1) {
    .footer-block {
        margin: 0 30px 0;
    }
}
@media (max-width:$footerBP2) {
    .footer-block {
        .connection {
            .title_h2 {
                font-size: 26px;
                margin-bottom: 30px;
            }
            &__descr {
                font-size: 16px;
            }
        }
    }
}
@media (max-width:$footerBP3) {
    .form-container {
        max-width: 500px;
    }
}
@media (max-width:$footerBP3) {
    .form-name {
        font-size: 14px;
    }
}
@media (max-width:$footerBP3) {
    .form-surname {
       font-size: 14px;
    }
}
@media (max-width:$footerBP3) {
    .form-mail {
    font-size: 14px;
    }
}
@media (max-width:$footerBP3) {
    .form-massage {
        font-size: 14px;
    }
}
@media (max-width:$footerBP3) {
    .send {
        &__text {
            font-size: 13x;
        }
        &__button {
            width: 100px;
            height: 40px;
            font-size: 11px;
            
        }
    }
}
@media (max-width:$footerBP4) {
    .footer-block {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 40px 0 115px;
        .connection {
            margin-right: 0;
        }
    }
}
@media (max-width:$footerBP4) {
    .footer {
        height: initial;
    }
}
@media (max-width:$footerBP4) {
    .form-container {
        height: 200px;
    }
}
@media (max-width:$footerBP4) {
    .form-massage {
        height: 112px;
    }
}
@media (max-width:$footerBP5) {
    .form-initial  {
       flex-wrap: wrap;
        flex-direction: column;
    }
}
@media (max-width:$footerBP5) {
    .form-container {
        width: 350px;
        border: initial;
    }
}
@media (max-width:$footerBP5) {
    .form-name {
        width: 349px;
        border: 2px solid #fff;
        font-size: 13px;
    }
}
@media (max-width:$footerBP5) {
    input {
        width: 206px;
    }
}
@media (max-width:$footerBP5) {
    .form-surname {
        width: 349px;
        border: 2px solid #fff;
        font-size: 13px;
    }
}
@media (max-width:$footerBP5) {
    .input-surrname {
        width: 214px;
        font-size: 13px;
    }
}
@media (max-width:$footerBP5) {
    .form-mail {
    width: 349px;
    border: 2px solid #fff;
    font-size: 13px;
    margin-right: 0px;
    }
}
@media (max-width:$footerBP5) {
    .input-mail {
        width: 250px;
    }
}
@media (max-width:$footerBP5) {
    .form-massage {
        width: 349px;
        border: 2px solid #fff;
    }
}
@media (max-width:$footerBP5) {
    .send {
        &__text {
            font-size: 11px;
            color: white;
            margin-right: 60px;
            
        }
        &__button {
            width: 145px;
            height: 35px;
           font-size: 10px;
            margin-top: 15px;
        }
    }
}
@media (max-width:$footerBP5) {
    .footer-block {
        .connection {
            .title_h2 {
                font-size: 20px;
                margin-bottom: 25px;
            }
            &__descr {
                font-size: 14px;
            }
        }
    }
}
@media (max-width:$footerBP6) {
    .form-name {
        width: 250px;
        font-size: 11px;
    }
}
@media (max-width:$footerBP6) {
    input {
        width: 140px;
    }
}
@media (max-width:$footerBP6) {
    .form-surname {
        width: 250px;
        font-size: 11px;
    }
}
@media (max-width:$footerBP6) {
    .input-surrname {
        width: 177px;
    }
}
@media (max-width:$footerBP6) {
    .form-mail {
        width: 250px;
        margin-left: 50px;
        font-size: 11px;
    }
}
@media (max-width:$footerBP6) {
    .input-mail {
        width: 150px;
    }
}
@media (max-width:$footerBP6) {
    .label-mail {
        padding-left: 20px;
    }
}
@media (max-width:$footerBP6) {
    .form-massage {
        width: 250px;
        margin-left: 50px;
        font-size: 11px;
    }
}
@media (max-width:$footerBP6) {
    .label-massage {
        padding-left: 20px;
    }
}
@media (max-width:$footerBP6) {
    .send {
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
        
        &__text {
            width: initial;
            margin-right: 0px;
            }
        }
}
@media (max-width:$footerBP6) {
    .form-massage {
        height: 70px;
    }
}
@media (max-width:$footerBP7) {
    .footer-block {
        .connection {
            .title_h2 {
                font-size: 16px;
                margin-bottom: 20px;
            }
            &__descr {
                font-size: 12px;
            }
        }
    }
}
@media (max-width:$footerBP7) {
    .footer-block {
        margin: 0 30px 0;
    }
}
@media (max-width:$footerBP7) {
    .form-container {
        max-width: 300px;
    }
}
@media (max-width:$footerBP7) {
    .form-mail {
        width: 250px;
        margin-left: 25px;
        font-size: 11px;
    }
}
@media (max-width:$footerBP7) {
    .form-massage {
        width: 250px;
        margin-left: 25px;
        font-size: 11px;
    }
}
@media (max-width:$footerBP8) {
    .form-container {
        
        margin-left: -25px;
        
    }
}
@media (max-width:$footerBP5) {
    .footer-line {
        height: 50px;
    }
}
