@media (max-width: $studioBP1) {
    .studio-content {
        display: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 0;
        height: 350px;
        padding: 0;
       &__we {
        font-size: 200px;
        margin-top: 100px;
        margin-left: 50px;
        
       }
    }
}
@media (max-width:$studioBP1){
    .studio-content {
        .title_h2 {
            margin-bottom: 50px;
        }
    }
}
@media (max-width:$studioBP1){
    .studio-topics {
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media (max-width: $studioBP2) {
    .topic {
        &__start {
            height: initial;
        }
        &__move {
            height: initial;
        }
    }
}
@media (max-width:$studioBP4){
    .studio-content {
        .title_h2 {
            font-size: 25px;
            margin-bottom: 20px;
        }
    }
}
@media (max-width: $studioBP2) {
    .studio-topics__little {
        display: initial;
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }
}
@media (max-width: $studioBP3) {
    .studio-content {
        margin-top: 30px;
        &__we {
            display: none;
        }
    }
}
@media (max-width: $studioBP4) {
    .studio-content {
       &__descr {
        margin-bottom: 20px;
       }
    }
}
@media (max-width:$studioBP5){
    .studio-content {
        height: initial;
        .title_h2 {
            font-size: 16px;
        }
        &__descr {
            font-size: 15px;
        }
    }   
}