@media (max-width:$studioBP1) {
    .studio-block {
        padding: 20px 20px;
    }
}
@media (max-width:$studioBP1) {
    .studio-content {
        .title_h2 {
            font-size: 42px;
            margin-right: 20px;
        }
        &__we {
            font-size: 250px;
        }
    }
}
@media (max-width:$studioBP2) {
    .studio-content {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 25px 80px 60px 0;
        .title_h2 {
            font-size: 38px;
            margin-right: 20px;
            margin-bottom: 50px;
        }
        &__we {
            font-size: 200px;
            margin-top: 3%;
            margin-left: 0%;
            
        }
    }
}
@media (max-width:$studioBP1) {
    .studio-topics {
        padding-bottom: 130px;
        flex-wrap: wrap;
    }
}
@media (max-width:$studioBP2) {
    .studio-content {
        padding: 25px 0px 60px 0;
        &__we {
            font-size: 170px;
            margin-top: 5%;
            margin-left: 0%;
            
        }
    }
}
@media (max-width:$studioBP3) {
    .studio-content {
        .title_h2 {
            font-size: 32px;
            }    
            &__we {
                font-size: 150px;
                margin-top: 9%; 
        }
    }
}
    
@media (max-width:$studioBP3) {
        .studio-topics {
        padding-bottom: 50px;
    }
}
@media (max-width:$studioBP4) {
    .studio-content {
        .title_h2 {
            font-size: 25px;
            }    
            &__we {
                font-size: 130px;
                margin-top: 25%; 
        }
    }
}
@media (max-width:$studioBP5) {
    .studio-content {
        padding: 0px 0px 25px 0;
    &__we {
        margin-top: 45%;
        }
        .title_h2 {
            margin-bottom: 21px;
            }    
    }
}
@media (max-width:$studioBP2) {
    .studio-topics {
        .topic {
            height: initial;
            &_start {
                margin-right: 0;
            }
            &_move {
                margin-right: 0;
            }
            
        }   
    }
}
@media (max-width:$studioBP5) {
    .studio-content {
        &__descr {
            letter-spacing: 1;
        }
    }
}