
.studio-content {
    @include flex (space-between, center, center);
    padding: 130px 80px 130px 0;
    
    
    .title_h2 {
        color: black;
        font-size: 48px;
        
    }
    &__descr {
        max-width: 845px;
        position: relative;
        z-index: 10000;
        font-size: 20px;
    }
    &__we {
        position: absolute;
        font-size: 340px;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 16%;
        color: #f4f4f4;
        
    }
}

.studio-topics {
    max-width: 1245px;
    @include flex;
    align-items: stretch;
    font-size: 15px;
    padding-bottom: 250px;
    cursor: pointer;
    .topic {
        margin-right: 30px;
        max-width: 400px;
        height: 350px;
        padding: 20px;
       
    }
    .topic_start {
        &__icon {
            margin-bottom: 6px;
        }
        &__name {
            margin-bottom: 20px;
        }
    }
    .topic_move {
        &__icon {
            margin-bottom: 20px;
        }
        &__name {
            margin-bottom: 20px;
        }
    }
    .topic_support {
        margin-right: 0;
        &__icon {
            margin-bottom: 20px;
        }
        &__name {
            margin-bottom: 20px;
        }
    }
}
.topic:hover {
    background: #f6ae48;
    color: white;

    
}

.topic-function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    &__arrow {
     width: 22px;
     height: 23px;
    }
    &__button {
     @include flex;
     width: 130px;
     height: 35px;
     border: 2px solid white;
     background: none;
     color: white;
     
    }
}
    
